<footer>
<!-- <div id="divFooter"> -->
    <hr>
    CST336 Internet Programming. 2024&copy; Harris Popal <br>
    <span><strong>Disclaimer:</strong> The information in this webpage is used for academic purposes only.</span>
    <img class="logo" src="/img/CSUMB_CS_Online_logo_sm.png" alt="CSUMB CS Online logo">
<!-- </div> -->
</footer>