<nav>
  <img class="logo2" src="/img/CSUMB_CS_Online_logo_sm.png" alt="CSUMB CS Online logo">
  <a class="bi bi-box-arrow-left" href="/logout"> Log Out </a>
  <a class="bi bi-house-door-fill" href="/welcome"> Home </a>
  <a class="bi bi-person-fill-add" href="/user/new"> Add User </a>
  <a class="bi bi-database-fill-add" href="/transaction/new"> Add Transaction </a>
  <a class="bi bi-people" href="/users"> List Users </a>
  <a class="bi bi-list-ul" href="/transactions"> List Transactions </a>
  <a class="bi bi-currency-exchange" href="/converted-transactions"> Converted Transactions </a>
  <a class="bi bi-newspaper" href="/financial-news"> Financial News </a>
  <a class="bi bi-cash-coin" href="/set-preference"> Set Currency Preference </a>
  
</nav>

<!-- <i class="bi bi-person-fill-gear"></i> -->
<!-- <i class="bi bi-x-circle-fill"></i> -->