<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<h1>Banking App - Admin Section</h1>
<form action="/user/new">
    <button>Add User</button>
</form><br>
<form action="/transaction/new">
    <button>Add Transaction</button>
</form><br>
<form action="/users">
    <button>List Users</button>
</form><br>
<form action="/transactions">
    <button>List Transactions</button>
</form><br>
<form action="/converted-transactions">
    <button>Converted Transactions</button>
</form><br>
<form action="/financial-news">
    <button>Financial News</button>
</form><br>
<form action="/set-preference">
    <button>Set Currency Preference</button>
</form><br>
<script src="/js/scripts.js"></script>
</body>
</html>
